nav{
  display: flex;
  height: 6vh;
  justify-content: center;
  gap: 10%;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.269);
}
#logo-img{
  height: 40px;
}

#icons-list{
  display: flex;
  list-style-type: none;
  position: sticky;
  font-size: 1.6rem;
  gap: 20px;
}

#home-searchbar{
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: rgba(69, 70, 70, 0.106);
  padding: 5px 20px;
  font-size: 1rem;
}

.post-section{
  width: 500px;
  min-height: 50px;
}

main{
  display: flex;
  justify-content: center;
  background-color: #FAFAFA;
}
.post{
border-radius: 5px;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.086);
margin-bottom: 2rem;
}

.post h3{
padding-top: 20px;
padding-left: 20px;
}
.post img{
  max-width: 100%;
}

.actions{
display: flex;
width: 100%;
font-size: 1.8rem;
gap: 3%;
}

.actions :nth-child(3){
  margin-right: auto;
}

.actions :nth-child(1){
margin-left: 10px;
}

.actions :nth-child(4){
  margin-right: 10px;
}

.post-like-count{
  margin-left: 10px;
}

.caption {
margin-left: 10px;
}
.comment-container {
  margin-left: 10px;
}
.comment-top-container{
  display: flex;
  gap: 2%;
  position: relative;
  margin: 0;
}

.comment-top-container ion-icon {
  position: absolute;
  top: 17px;
  right: 20px;
  margin: 0;
}

.comment-section p {
margin:0;
padding-left: 10px;
padding-bottom: 20px;
}

.comment-section p:hover{
  cursor: pointer;
}

.add-comment {
  border-top: 1px solid rgba(0, 0, 0, 0.187);
  display: flex;
  padding-top: 15px;
  align-items: center;
  position: relative;
}


.add-comment button {
  background-color: transparent;
  border: none;
  position: absolute;
  color: #2C95F6;
  top: 15px;
  right: 10px;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}


#expanded-post{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.533);

}

#expanded-post img {
max-width: 700px;
max-height: 700px;
}


#expanded-post-container{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#expanded-post-content{
  min-width: 300px;
  border-top-left-radius: 5px;
  border-bottom: 5px;

}

#expanded-post-content-inner p {
    padding-left: 20px;
}




#expanded-post-comment-ul{
  list-style-type: none;
  padding-left: 20px;
}

#expanded-post-comment-ul li {
  position: relative;
}

#expanded-post-comment-ul li ion-icon {
  position: absolute;
  right: 15px;
}



#expanded-post-content-inner{
display: flex;
background-color: white;
}

#expanded-post-divider{
padding: 0;
}

.expanded-post-interaction-section{
  font-size: 2rem;
  padding-left: 10px;
}

.expanded-post-interaction-section ion-icon {
  margin: 0 5px;
}

#third-child{
  margin-right: 120px;
}



.expanded-post-comment-section{
  position: relative;
}

.expanded-post-add-comment-section{
display: flex;
border-top: 1px solid rgba(0, 0, 0, 0.381);
width: 300px;
}

.expanded-post-add-comment-section button {
  background-color: transparent;
  border: none;
  color: #2C95F6;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
  margin-left: 80px;
}

.expanded-post-add-comment-section p {
  margin-right: auto;
}

.expanded-comment-interaction-section{
 margin-top: auto;
}